$base-size:  18;
$accent:     #2392b3;
$text-color: #6F6F6F;
$background: #fff;

@font-face {
  font-family: 'entypo';
  src: url('/fonts/entypo.eot');
  src: url('/fonts/entypo.eot#iefix') format('embedded-opentype'),
  url('/fonts/entypo.woff') format('woff'),
  url('/fonts/entypo.ttf') format('truetype'),
  url('/fonts/entypo.svg') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1500px) {
    @content;
  }
}

@mixin group {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

$sans: Lato, "Helvetica Neue", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.icon {
  font-family: 'entypo';
  font-weight: normal;
  font-style: normal;
  speak: none;
  font-size: 4rem;
  line-height: 1;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

.highlight {
  color: $accent;
  font-size: 4rem;
  font-style: italic;
  font-weight: 300;
  @include mobile {
    font-size: 2.5rem;
  }
}

html {
  font: normal 18px/1.618 $sans;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  background: $background;
}

blockquote {
  text-align: center;
  font-style: italic;
  font-weight: 300;
  color: #aaa;
  margin: 7rem auto;
  p {
    padding-top:4rem;
    font-size: 4rem;
    color: gray;
  }
}

::selection {
  background: $accent;
  color: #fff;
}

a {
  color: $accent;
}

[role="banner"] {
  background: transparent url("http://i.imgur.com/nBNhtOV.jpg") no-repeat center bottom;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    position: relative;
    top: -2rem;
    margin: 0;

    @include mobile {
      left: .5rem;
      top: -1rem;
    }

    img {
      width: 30vw;
      margin: 0 auto;
      min-width: 25rem;

      @include mobile {
        width: 17rem;
        min-width: 0;
      }
    }
  }

  @include mobile {
    height: 40vh;
  }
}

[role="contentinfo"] {
  text-align: center;
  font-style: italic;
  margin-top: 4rem;

  .thanks {
    padding: 2rem 5%;
    margin-top: 4rem;
    background-color: $accent;
    background-image: linear-gradient(-179deg, #f4f4f4 1%, #f7f7f7 100%);
    color: gray;

    p {
      margin: 2rem auto;
    }

    a {
      margin: 0 5%;
      color: $accent;
      display: inline-block;

      &:hover img {
        opacity: 1;
      }

      @include mobile {
        margin-bottom: 2rem;
      }
    }

    .speakers {
      padding: 1rem;

      a {
        font-weight: 600;
      }

      p {
        flex: 1;
      }
    }

    img {
      vertical-align: middle;
      max-width: 15rem;
      opacity: .8;
      transition: opacity .2s ease-out;
    }

    .photography {
      a {
        margin: 0 0%;
      }
    }
  }
}

h1, h2 {
  text-align: center;
}

h1 {
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 10rem;
  letter-spacing: 2px;

  strong {
    font-weight: 300;
  }
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

strong {
  color: #444;
}

.wrapper {
  padding: 0 5%;
}

p {
  color:#606060;
  font-size: 1.8rem;
  padding-bottom: 4rem;
  font-weight: 200;
}

.section-story {
  margin-bottom: 0rem;
}

.section-teams {
  max-width: 1680px;
  margin: 0 auto;
  h1 {
    padding-bottom:4rem;
  }
  p{
    color:#ffffff;
  }
}

.story__intro {
  text-align: center;
  max-width: 70rem;
  min-height: 50vh;
  margin: 0 auto;
}

.btn {
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  position: relative;

  &:active {
    top: 1px;
  }

  &:hover {
    .icon {
      color: $accent;
    }
  }

  .icon {
    margin-right: .5rem;
    position: relative;
    top: -2px;
    transition: color .2s ease-out;
  }
}

.avatar {
  border-radius: 100%;
}

.story__bubbles {

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    img, p {
      width: 50%;
    }

    p {
      padding: 0 5%;
      line-height: 1.7;
      margin: 0;
    }

    @include mobile {
      &, &:nth-child(odd) {
        flex-direction: column;
      }

      p {
        padding: 0;
        margin: 2rem 0;
      }

      img, p {
        width: 100%;
      }
    }
  }
}

.story__ending {
  text-align: center;
  font-style: italic;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > p {
    max-width: 50rem;
    margin: 0 auto 2rem;
  }

  > p:first-child {
    color: #999;
  }

  .highlight {
    max-width: none;
    margin: 2rem auto;
    font-size: 4rem;
  }

  .further-reading-links {
    max-width: none !important;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    padding: 2rem 5%;
    border: 1px solid #ddd;
    border-width: 1px 0;

    a {
      flex: 1;
    }

    @include mobile {
      flex-direction: column;
      width: 100%;

      a {
        margin: 1rem 0;
      }
    }
  }
}

.team {
  header {
    display: flex;

    .team__info_left {
      color: #fff;
      background-color: $accent;
      background-image: linear-gradient(-179deg, #1c738c 1%, #2392b3 100%);
      padding: 4vw 4vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .team__info_right {
      color: #fff;
      background-color: $accent;
      background-image: linear-gradient(-179deg, #68cc2a 1%, #5bb225 100%);
      padding: 6vw 4vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    > * {
      width: 50%;
    }

    img {
      display: block;
    }

    @include mobile {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }
  }

  h2 {
    text-align: left;

    @include mobile {
      text-align: center;
    }
  }

  .team__description {
    :last-child {
      margin-bottom: 0;
    }
    p {
      margin-bottom: -2.4rem;
    }
  }

  .team__members {
    margin: 4rem 5%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      padding: 0 3%;
    }

    h3 {
      margin-top: .6rem;

      a {
        color: #333;
      }
    }

    .avatar {
      display: block;
      width: 6rem;
      float: left;
      margin-right: 2rem;
    }

    .member__song {
      margin: 0;

      strong {
        display: block;
      }
    }

    .member__song-text {
      margin-top: 2rem;
      clear: left;
    }

    @include mobile {
      li {
        width: 100%;
        padding: 0;
      }
    }
  }

  .team__links {
    list-style: none;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;

    li {
      width: 50%;
      padding: 0 1%;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 0 1em;
      color: rgba(#fff, .9);
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 2px solid rgba(#fff, .6);
      border-radius: 5px;
      transition: color .2s ease-out, border-color .2s ease-out;
      line-height: 50px;

      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }

    .icon {
      position: relative;
      top: -1px;
      display: inline-block;
      margin-right: .2em;
      color: inherit;
    }

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      li {
        width: 100%;
        padding: 0;
        margin-bottom: .5rem;
      }
    }

    @include mobile {
      margin-top: 1rem;
    }
  }
}

.group-image {
  @include mobile {
    height: 240px;
  }
}

.team__anchor_link {
  color: #ffffff;
  &:hover {
    color: #d8d8d8;
    text-decoration: none;
  }
}
